services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile_jenkins
    container_name: jenkins
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - /home/szabo/jenkins_home:/var/jenkins_home
    environment:
      - DOCKER_HOST=tcp://docker:2375