<div *ngFor="let track of tracks">
  <div class="track-card">
    <div><strong>Cím:</strong> {{ track.title }}</div>
    <div><strong>Előadó:</strong> {{ track.artistNickname }}</div>
    <div><strong>Album:</strong> {{ track.albumId || '-' }}</div>
    <div><strong>Megjelenés:</strong> {{ track.releaseDate | date }}</div>
    <audio controls preload="auto" *ngIf="track.fileId">
      <source [src]="'http://localhost:5000/app/track-file/' + track.fileId" type="audio/mpeg">
      A böngésződ nem támogatja az audio lejátszást.
    </audio>
  </div>
</div>
