<div class="statistics-wrapper">
    <table class="statistics-table" *ngIf="data.length > 0">
    <thead>
        <tr>
        <th class="primary-header">Album</th>
        <th class="primary-header">Track</th>
        <th class="primary-header">Kommentelő</th>
        <th class="primary-header">Komment</th>
        <th class="primary-header">Dátum</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
        <td>{{ row.albumName || 'Nincs album' }}</td>
        <td>{{ row.trackTitle }}</td>
        <td>
            <ng-container *ngIf="row.comments.length > 0; else noComment">
            <div *ngFor="let comment of row.comments">
                {{ comment.nickname }}
            </div>
            </ng-container>
            <ng-template #noComment>
            Nincs komment
            </ng-template>
        </td>
        <td>
            <ng-container *ngIf="row.comments.length > 0">
            <div *ngFor="let comment of row.comments">
                {{ comment.text }}
            </div>
            </ng-container>
        </td>
        <td>
            <ng-container *ngIf="row.comments.length > 0">
            <div *ngFor="let comment of row.comments">
                {{ comment.createdAt | date:'medium' }}
            </div>
            </ng-container>
        </td>
        </tr>
    </tbody>
    </table>

    <hr class="table-separator">

    <table class="statistics-table" *ngIf="data.length > 0">
    <thead>
        <tr>
        <th class="primary-header">Album</th>
        <th class="primary-header">Track</th>
        <th class="primary-header">Like-olók</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
        <td>{{ row.albumName || 'Nincs album' }}</td>
        <td>{{ row.trackTitle }}</td>
        <td>
            <ng-container *ngIf="row.likes.length > 0; else noLike">
            <span *ngFor="let nickname of row.likes; let last = last">
                {{ nickname }}<span *ngIf="!last">, </span>
            </span>
            </ng-container>
            <ng-template #noLike>Nincs like</ng-template>
        </td>
        </tr>
    </tbody>
    </table>

    <hr class="table-separator">

    <table class="statistics-table" *ngIf="data.length > 0">
    <thead>
        <tr>
        <th class="primary-header">Album</th>
        <th class="primary-header">Track</th>
        <th class="primary-header">Megosztók</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
        <td>{{ row.albumName || 'Nincs album' }}</td>
        <td>{{ row.trackTitle }}</td>
        <td>
            <ng-container *ngIf="row.shared.length > 0; else noShared">
            <span *ngFor="let nickname of row.shared; let last = last">
                {{ nickname }}<span *ngIf="!last">, </span>
            </span>
            </ng-container>
            <ng-template #noShared>Nincs megosztás</ng-template>
        </td>
        </tr>
    </tbody>
    </table>

    <div *ngIf="data.length === 0" class="no-statistics">
    Nincs statisztika.
    </div>
</div>