.header-container {
  display: flex;
  align-items: center;
  background-color: #e16610;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%; 
  left: 0;
  z-index: 1000;
  gap: 12px;
  box-sizing: border-box;
}

.header-logo {
  height: 100px;
  margin-right: 16px;
}

.header-title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.header-btn {
  margin-right: 12px;
}

.logout-btn {
  margin-left: auto;
  font-weight: bold;
}